@page
@model Check_Roles.Pages.Dozent_Tabelle.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dozenten</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dozenten.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dozenten.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dozenten.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dozenten.Module)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dozenten.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dozenten.EMail)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dozenten.DozentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
