@page
@model Check_Roles.Pages.Dozent_Tabelle.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dozenten</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dozenten.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dozenten.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dozenten.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dozenten.Module)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dozenten.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dozenten.EMail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dozenten.DozentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
